root = true
# Unix-style newlines with a newline ending every file
[*.{cpp,hpp,h,c,sh}]
end_of_line = lf
insert_final_newline = true

[*.{cpp,hpp,h,c,sh}]
indent_style = tab
indent_size = 4
charset = utf-8

[{Makefile}]
indent_style = tab
